# This is an example .env file for the Power Herald bot.
# Please copy this file to .env and fill in the required values.

# Token for your Telegram bot, obtained from BotFather.
BOT_TOKEN=
# Secret key for webhook verification. You can generate a random string for this.
WEBHOOK_SECRET=
# Comma-separated list of Telegram chat IDs that are allowed to interact with the bot.
ADMIN_CHAT_IDS=
